@import '../../../../../scss/variables.scss';
@import '../../../../../scss/colors.scss';

.book-list-layout{
  background-color: $porcelain;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: $navbar-height + 10px;
  padding: 10px 100px;
}
