@import '../../../scss/colors.scss';

.auth-form {
  background-color: $porcelain;
  border-top: 3px solid $cerulean;
  display: flex;
  flex-flow: column;
  padding: 50px 20px 20px 20px;
  width: 325px;
}

.auth-title {
  align-self: center;
  letter-spacing: 2px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
