.footer {
  background-color: $cerulean;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
  width:100%;
}

.footer-paragraph {
  color: $nav-background-color;
  font-size: $text-medium;
  margin-bottom: 10px;
}

.copyright-text {
  align-self: flex-end;
  color: $nav-background-color;
  flex-grow: 0;
  font-size: $text-small;
}
