.navbar {
  align-items: center;
  background-color: $nav-background-color;
  box-shadow: 7px 7px 6px $box-shadow-color;
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo-img {
  height: $nav-logo-height;
  justify-self: flex-start;
}

.nav-text {
  font-size: $text-medium;
  justify-self: flex-end;
}
