$tech-width: 200px;
$tech-border-radius: 5px;
$border-transition: transform linear 0.15s;

.techs {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px 150px;
  align-items: center;
  align-content: center;
}

.tech {
  align-content: center;
  display: flex;
  flex-flow: column wrap;
  margin: 20px;
  padding: 5px;
  position: relative;
  text-align: center;
  width: $tech-width;

  &:nth-child(1) {
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/3;
    border-right: 3px solid $earls-green;
  }
}


.tech-img {
  height: $tech-logo-size;
  margin: 5px auto;
  width: $tech-logo-size;
}

.tech-name {
  font-size: $text-medium;
  margin: 5px 0 15px 0;
}

.tech-year {
  font-weight: bold;
  margin: 0 0 20px 0;
}

.tech-description {
  margin: 0 0 20px 0;
}
