$tech-width: 200px;
$tech-border-radius: 5px;
$transition-border: transform linear 0.15;
.techs {
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: baseline;
  padding: 5px 150px;
}

.tech {
  align-content: center;
  background-color: $earls-green;
  border-radius: $tech-border-radius;
  display: flex;
  flex-flow: column wrap;
  margin: 20px;
  padding: 5px;
  position: relative;
  text-align: center;
  width: $tech-width;

  &::before {
    border-radius: $tech-border-radius;
    border: 2px solid $earls-green;
    content: '';
    height: 100%;
    position: absolute;
    right: 10px;
    transition: $transition-border;
    top: -10px;
    width: $tech-width;
    z-index: -1;
  }

  &:hover {
    &::before {
      transform: translate(20px,20px);
      transition: $transition-border;
    }
  }
}


.tech-img {
  height: $tech-logo-size;
  margin: 5px auto;
  width: $tech-logo-size;
}

.tech-name {
  font-size: $text-medium;
  margin: 5px 0 15px 0;
}

.tech-year {
  font-weight: bold;
  margin: 0 0 20px 0;
}

.tech-description {
  margin: 0 0 20px 0;
}
