.text-title {
  display: block;
  font-size: $text-big;
  height: $title-decoration-height;
  position: relative;
  transform: translate(55px, 35px);

  &::before {
    content: url('assets/triangle.svg');
    height: $title-decoration-height;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-55px, -35px);
    width: $title-decoration-width;
    z-index: -1;
  };
}
