$translate-x: 55px;
$translate-y: 35px;

.text-title {
  
  display: block;
  font-size: $text-big;
  height: $title-decoration-height;
  position: relative;
  transform: translate($translate-x, $translate-y);

  &::before {
    content: url('assets/triangle.svg');
    height: $title-decoration-height;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-$translate-x, -$translate-y);
    width: $title-decoration-width;
    z-index: -1;
  };
}
